body {
font-family: 'Gloria Hallelujah', cursive;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #000000;

}

h1 {
  color: #ffffff;
  font-size: 40px;





}

.item {

}
